.product-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product-list{
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-item:hover{
  transform: scale(1.05);
}

.product-item img{
  width: 100%;
  height:auto; 
  border-radius: 10px;
}

.product-item h3{
  margin-top: 15px;
}

.product-item p{
  margin: 15px ;
}

h1{
  text-align: center;
}

body{
  font-family: 'Arial', sans-serif;
  margin: 5;
}