
.hamburger-bar {
  width: 30px;
  height: 4px;
  margin: 4px;
}

.bar1 {
  border: 0px solid #333;
background-color: black; 
 transform: translateY(10%);
}

.bar2 {
  border: 0px solid #333;
  background-color: black; 
  transform:  translateY(20%) ;
}

.bar3 {
  border: 0px solid #333;
  background-color: black; 
  transform: translateY(30%);
}